.admin
  %h1 Admin dashboard

  .properties
    %h3 Properties
    = link_to "Add new property", :new_property, class: 'button'
    %table
      %tbody
        - properties.each do |property|
          %tr
            %td= property.title
            %td= link_to "Edit", edit_property_path(property)
            %td= link_to "Delete", property, data: { confirm: "Are you sure you want to delete #{property.title}?" }, method: :delete

  .contacts
    %h3 Contacts
    = link_to "Add new contact", :new_contact, class: 'button'
    %table
      %tbody
        - contacts.each do |contact|
          %tr
            %td= contact.name
            %td= link_to "Edit", edit_contact_path(contact)
  .clear
