= form_for property do |f|
  %dl

    %dt= f.label :title
    %dd= f.text_field :title

    %dt= f.label :street_1, "Address"
    %dd= f.text_field :street_1
    %dd= f.text_field :street_2

    %dt= f.label :city
    %dd= f.text_field :city

    %dt= f.label :state
    %dd= f.select :state, US_State::NAMES

    %dt= f.label :zip, "Zip Code"
    %dd= f.text_field :zip

    %dt= f.label :submarket
    %dd= f.select :submarket, submarket_options_for_select(property.submarket)

    %dt= f.label :size
    %dd= f.text_field :size

    %dt
      %label Contacts
    - Contact.all.each do |contact|
      %dd
        = check_box_tag "property[contact_ids][]",
          contact.id,
          property.contact_ids.include?(contact.id),
          id: dom_id(contact)
        = label_tag dom_id(contact), contact.name

    %dt= f.label :price
    %dd= f.text_field :price

    %dt
      %label Property Types
    - Property::TYPES.each do |property_type|
      %dd
        = check_box_tag "property[property_types][]",
          property_type,
          property.property_types.try(:include?,property_type),
          id: property_type
        = label_tag property_type

    %dt
      %label Options
    %dd
      = f.check_box :lease
      = f.label :lease, 'For lease?'

    %dd
      = f.check_box :sublease
      = f.label :sublease, 'For sublease?'

    %dd
      = f.check_box :sale
      = f.label :sale, 'For sale?'

    %dd
      = f.check_box :bank_owned
      = f.label :bank_owned, 'Bank owned?'

    %dt= f.label :attached_image
    %dd= f.file_field :attached_image

    %dt= f.label :attached_pdf, "Attached PDF"
    %dd= f.file_field :attached_pdf

    = f.submit f.object.new_record? ? 'Add Property' : 'Update Property'
