= google_map(properties_for_lease.decorate)
= render 'filter_form'
- if properties_for_lease.present?
  = render 'table', properties: properties_for_lease.decorate
-else
  = render 'properties/no_properties_found'
= will_paginate properties_for_lease
