= google_map(properties_for_sale.decorate)
= render 'filter_form'
- if properties_for_sale.present?
  = render 'table', properties: properties_for_sale.decorate
- else
  = render 'properties/no_properties_found'
= will_paginate properties_for_sale
