= google_map(decorate(properties_for_sale))
= render 'filter_form'
- if properties_for_sale.present?
  = render 'table', properties: decorate(properties_for_sale)
- else
  = render 'properties/no_properties_found'
= will_paginate properties_for_sale
