!!! 5
%html
  %head
    %title PlanYourCE
  = stylesheet_link_tag "application", media: "all"
  = javascript_include_tag "application"
  = csrf_meta_tags
  %body
    %header
      - if current_user
        %p Welcome #{current_user.name}
        = link_to "sign out", :sign_out
    - flash.keys.each do |type|
      .flash{ class: type }
        %p= flash[type]
    = yield
